.login{
    margin-left:80px;
    margin-top:80px;
border: 1px solid black;
width: 400px;
height: 500px;
background-image: url('iron.jpg');
color: white;
border-radius: 20px;
box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
background-size: cover;
background-position: center;
overflow: hidden;
}

form{
display: block;
box-sizing: border-box;
padding: 40px;
width: 100%;
height: 100%;
backdrop-filter: brightness(40%);
flex-direction: column;
display: flex;
gap: 5px;
}

h1{
font-weight: normal;
font-size: 24px;
text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
margin-bottom: 60px;
}

label{
color: rgba(255, 255, 255, 0.8);
text-transform: uppercase;
font-size: 10px;
letter-spacing: 2px;
padding-left: 10px;
}

input{
background: rgba(255, 255, 255, 0.3);
height: 40px;
line-height: 40px;
border-radius: 20px;
padding: 0px 20px;
margin-bottom: 20px;
color: white;
}

.button{
background: rgb(45, 126, 231);
height: 40px;
line-height: 40px;
border-radius: 40px;
border: none;
margin: 10px 0px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
color: white;
font-size: 12px;
text-transform: uppercase;
}
a{
    text-align: center;
    text-decoration: none;
    font-size:20px;
}
body{
    background-image:url("img04.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 500px;
}
h3{
    float: right;
    margin-top: 13%;
    margin-right: 20px;
    font-size: 130%;
}
h2{
    float: right;
    margin-left: 10%;
    font-size: xx-large;
}
.green-pill{
    background-color: #c2fbd7;
    border: 1px solid #a1d4b4;
    border-radius: 25px;
    box-shadow: rgba(44, 187, 99, .25) 0 8px 16px;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    text-align: center;
    font-size: 36px;
}
.green-pill:hover{
    transform: scale(1.1) rotate(-2deg);
}